
h2#color{
text-align: center;
background-color: black;
color: orange;
}

p#bold1{
    font-weight: bold;
}

p#bold2{
    font-weight: bold;
}

p#bold3{
    font-weight: bold;
}

p#bold4{
    font-weight: bold;
}

